<% layout('/layouts/boilerplate') %>
<br>
<h3 class="offset-2">Edit your Listing</h3>  
<div class="row">
    <div class="col-8 offset-2">
        <form 
            method="POST" 
            action="/listings/<%=listing._id %>?_method=PUT" 
            novalidate 
            class="needs-validation"
            enctype="multipart/form-data">
            
            <div class="mb-3">
                <label for="title" class="form-label">Product Name</label>
                <input name="listing[title]" class="form-control" value="<%= listing.title%>" type="text" 
                required>
            </div>

            <div class="mb-3">
                Original Image
                <div class="card" style="width: 15rem">
                    <img src="<%= originalImageUrl %>">
                </div>
            </div>
            
            <div class="mb-3 col-md-4">
                <label for="image" class="form-label">Upload New Image</label>
                <input name="listing[image]" type="file" class="form-control"  >
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="title" class="form-label">Quantity</label>
                    <input name="listing[quantity]" placeholder="In Ton - 50" type="text" value="<%= listing.quantity%>" class="form-control"
                    required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>  
                </div>
                <div class="mb-3 col-md-8">
                    <label for="title" class="form-label">Category</label>
                    <input name="listing[category]" placeholder="Category" type="text" value="<%= listing.category%>" class="form-control"
                    required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> 
           </div>

           <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" class="form-control" value="<%= listing.price%>" type="number" 
                    >
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Location</label>
                    <input name="listing[location]" class="form-control" value="<%= listing.location%>" type="text" 
                    required>
                    <div class="invalid-feedback">
                        enter valid country
                    </div> 
                </div> 
           </div>
                  
            <div class="mb-3">
                <label for="location" class="form-label">Country</label>
                <input name="listing[country]" class="form-control" value=" <%=listing.country%>" type="text" 
                required>
                <div class="invalid-feedback">
                    enter valid location
                </div> 
            </div>
            
            <button class="btn btn-dark add-btn">Edit</button>
        </form>
    </div>
</div>